.entry_header {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.timeloglink {
  text-decoration: none;
  color: #007cba;
}

.timeloglink:hover {
  text-decoration: underline;
  color: #0875ac;
  cursor: pointer;
}

.filterItems {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 17px 0;
  align-items: center;
}

.table {
  width: '100%';
  overflow-x: auto;
  overflow-y: hidden;
}
