.entry_header {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.timeloglink {
  text-decoration: none;
  color: #007cba;
}

.timeloglink:hover {
  text-decoration: underline;
  color: #0875ac;
  cursor: pointer;
}

.filterItems {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 17px 0;
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  .filterItems {
    flex-direction: column;
  }
}

/* .table {
  width: '100%';
  overflow-x: auto;
  overflow-y: hidden;
} */

.selectField {
  min-width: 190px;
  font-weight: bold;
  font-size: 0.7rem;
  width: 100%;
}
