.add_media_container {
  display: flex;
  color: #000;
  /* background-color: red; */
  height: 365px;
}

.media_view {
  width: 70%;
}

.media_list {
  overflow-y: scroll;
  height: 325px;
}
.selectable_group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.media_details {
  width: 30%;
  background-color: #f5f5f5;
  padding: 20px;
  border-left: 1px solid #dcdcde;
}

@media only screen and (min-width: 0) and (max-width: 726px) {
  .media_details {
    z-index: 100;
    width: 230px;
    max-width: 60%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
  }
  .media_view {
    z-index: 1;
    width: 100%;
  }
  .add_media_container {
    position: relative;
  }
}

.media_action {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 0) and (max-width: 900px) {
  .media_action {
    flex-direction: column;
    align-items: flex-start;
  }
}

.media_filter {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
}

.media_search {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  justify-content: center;
  row-gap: 5px;
}

.filter_action {
  display: flex;
  column-gap: 5px;
}

.loading {
  margin: 10% auto;
}
