.checkList {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  font-weight: 600;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .checkList {
    width: 100%;
  }
}

.checkListItems li {
  padding: 20px;
  border-bottom: 1px solid #ededed;
  letter-spacing: 1px;
  width: 100%;
  position: relative;
  list-style-position: inside;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding: 20px 0;
}

.buttons button {
  padding: 1px;
  border: 1px solid black;
  min-width: 15%;
  text-align: center;
}

.tickIcon,
.crossIcon {
  font-size: 1rem;
  cursor: pointer;
}
.tickIcon {
  color: rgb(30, 128, 91);
}

.crossIcon {
  color: rgb(187, 15, 70);
}

.list_heading {
  display: flex;
  justify-content: space-between;
}

.itemActions {
  background: #fff;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 3px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.itemActions span {
  margin-left: 5px;
}

.row {
  width: 100%;
  display: flex;
  row-gap: 10px;
  justify-content: flex-end;
  gap: 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.skippedReason {
  opacity: 1;
  visibility: visible;
  padding-top: 20px;
  border-top: 2px dashed;
  margin-top: 20px;
  min-height: 150px;
}

.skipNone {
  opacity: 0;
  visibility: hidden;
  height: 0px;
  overflow: hidden;
}

.skip {
  color: #fff;
  transition: all 0.54s ease;
}

.see_more {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  align-items: center;
}
