.detailTable {
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
  border: 1px solid #ddd;
}

.tableHead {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  color: rgba(0, 0, 0, 0.671);
  width: 30%;
  padding-left: 10px;
}

.tableData {
  border: 1px solid #ddd;
  padding: 8px;
  padding-left: 10px;
  color: #000;
}
