.tms_container {
  width: 100%;
  padding: 30px 40px;
}

@media only screen and (min-width: 1707px) {
  .tms_container {
    width: 70%;
    padding: 30px 40px;
    margin: 0 auto;
  }
}

.tms_heading {
  color: #545454;
  font-weight: 700;
  line-height: 21.87px;
}

.record_table {
  margin-top: 10px;
}

.viewDetailOfPunchTime {
  cursor: pointer;
  color: var(--navbar-color);
  transition: all 0.3s;
}

.viewDetailOfPunchTime:hover {
  border-bottom: 2px solid var(--navbar-color);
}

.record_table {
  white-space: nowrap;
  overflow-x: auto;
}

.action {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  color: var(--navbar-color);
  cursor: pointer;
}
